<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <system.serviceModel>
  <bindings>
   <customBinding>
    <binding name="CustomBinding_OrdersService">
     <binaryMessageEncoding />
     <httpTransport authenticationScheme="Ntlm" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
    </binding>
    <binding name="CustomBinding_AdditService">
     <binaryMessageEncoding />
     <httpTransport authenticationScheme="Ntlm" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8090/OrdersService.svc" binding="customBinding"
    bindingConfiguration="CustomBinding_OrdersService" contract="OrdersService.OrdersService"
    name="CustomBinding_OrdersService">

   </endpoint>
   <endpoint address="http://localhost:8090/AdditService.svc" binding="customBinding"
    bindingConfiguration="CustomBinding_AdditService" contract="AdditService.AdditService"
    name="CustomBinding_AdditService">

   </endpoint>
  </client>
 </system.serviceModel>
</configuration>