<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_AdditService">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Ntlm"             maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_OrdersService">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Ntlm"             maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_OrdersService1">
          <binaryMessageEncoding />
          <httpTransport authenticationScheme="Negotiate" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8090/AdditService.svc" binding="customBinding"
        bindingConfiguration="CustomBinding_AdditService" contract="AdditService.AdditService"
        name="CustomBinding_AdditService" >
        <identity>
          <userPrincipalName value="RJ128X_PC\rj128x" />
        </identity>
      
      </endpoint>
      <endpoint address="http://localhost:8090/OrdersService.svc" binding="customBinding"
        bindingConfiguration="CustomBinding_OrdersService1" contract="ServiceReference1.OrdersService"
        name="CustomBinding_OrdersService1">
        <identity>
          <userPrincipalName value="RJ128X_PC\rj128x" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8090/OrdersService.svc" binding="customBinding"
        bindingConfiguration="CustomBinding_OrdersService" contract="OrdersService.OrdersService"
        name="CustomBinding_OrdersService">
        <identity>
          <userPrincipalName value="RJ128X_PC\rj128x" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>